@font-face {
  font-family: 'Questrial';
  src: url('../font/Questrial/Questrial-Regular.ttf') format('truetype');
  src: url('../font/Questrial/Questrial-Regular.svg') format('svg'), url('../font/Questrial/Questrial.eot') format('embedded-opentype'), url('../font/Questrial/Questrial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.logo img {
  display: none;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  left: 0px;
  top: 0px;
  padding: 0px;
  overflow: hidden;
}

.bg #wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  /* box-shadow: 0px 12px 12px -6px rgba(0, 0, 0, .25) inset; */
  margin: 0px;
  float: left;
  display: flex;
  display: -webkit-flex;
  flex-direction: column-reverse;
}

.bg .logo {
  position: relative;
  margin: 0%;
  background-color: hsla(245, 28%, 41%, .8);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, .75);
  height: 24px;
  bottom: 0px;
  width: 100%;
  float: left;
}

.bg .login {
  position: relative;
  margin: 0%;
  width: 320px;
  flex: 1;
  /* border-right: 1px solid #007acc; */
  float: right;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
}

.bg .login form {
  position: relative;
  padding: 96px 20px 96px 20px;
  height: 100%;
  width: 100%;
  transform: translateX(-24px);
  background: rgba(255, 255, 255, .45);
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, .25);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: start;
}

.bg .login dl {
  height: auto;
  overflow: hidden;
}

.bg .login>form>dl:first-childï¼šafter {
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(3px);
  background: inherit;
}

.bg .login dl+dl+dl {
  padding: 24px 0px 0px 0px;
  flex: 1;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg .login dd {
  margin: 0px;
  padding: 0px;
}

.bg dd.username, .bg dd.password {
  width: 100%;
  margin: 8px 0px;
  padding: 0px;
}

.bg dd label, #rem_Toogle label, .bg input#btnPost {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition-duration: .224s;
  -webkit-transition-property: color, background-color, border, -webkit-transform;
  transition-property: color, background-color, border, -webkit-transform;
  transition-property: color, background-color, border, transform;
  transition-property: color, background-color, border, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.bg dd.form_group_label label {
  color: #1e1e1e;
  cursor: text;
  width: auto;
  font-size: 18px;
  line-height: 1;
  padding: 2px 0px;
  text-align: left;
  top: 26px;
  left: 8px;
  z-index: 1;
  position: relative;
}

.bg dd.form_group_label input {
  width: 100%;
  line-height: 36px;
  background: none;
  border-left: 2px solid rgba(0, 0, 0, 128);
  margin: 0px 0px 0px 2px;
  font-size: 14px;
  font-family: "Microsoft YaHei", Verdana, sans-serif;
  color: #7e7e7e;
}

.bg dd.form_group_label.control_highlight label, .bg dd.form_group_label.control_focus label {
  -webkit-transform: scale(.8, .8) translate(-10px, -32px);
  transform: scale(.8, .8) translate(-10px, -32px);
}

.bg dd.form_group_label.control_focus label {
  color: hsla(245, 28%, 41%, 1);
}

.bg dd.form_group_label.control_highlight input {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.24);
}

.bg dd.form_group_label.control_focus input {
  color: #fff;
  background: hsla(245, 28%, 41%, .45);
  border-left: 2px solid hsla(245, 28%, 41%, 1);
}

.bg input#edtUserName:focus, .bg input#edtPassWord:focus {
  outline: none;
}

.bg input[type='text'], .bg input[type='password'], .bg dd input[type='checkbox'] {
  border: 0px;
  margin: 0px;
}

/* checkbox */

.bg dd.checkbox {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
}

.bg input[type='checkbox'] {
  display: none;
}

.login input[type="checkbox"]+label {
  padding: 0px 0px 0px 4px;
}

#rem_Toogle {
  width: 40px;
  position: relative;
}

.bg .checkbox label {
  padding: 0px;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
}

.bg .checkbox input+label {
  margin: 0px 0px 0px 4px;
  /*    border-left:2px solid  rgba(0, 0, 0, 128); */
}

.bg .checkbox label#chkStyle_Thumb {
  position: absolute;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin: 5px 5px;
  background: #fff;
}

.bg .checkbox label#chkStyle_Track {
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 16px;
  margin: 4px 0px 4px 4px;
  background: none;
  border: 1px solid #a0a0a0;
}

.bg input[type='checkbox']:checked+label {
  margin: 0px 0px 0px 2px;
  color: hsla(245, 28%, 41%, 1);
  border-left: 2px solid hsla(245, 28%, 41%, 1);
}

.bg input[type='checkbox']:checked+label+div label#chkStyle_Track {
  background: hsla(245, 28%, 64%, 1);
  border: 1px solid hsla(245, 28%, 64%, 1);
}

.bg input[type='checkbox']:checked+label+div label#chkStyle_Thumb {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  background: #fff;
  border: 0px;
}

/* Submit */

.bg .login dd.submit {
  width: 100%;
  overflow: hidden;
}

.bg input#btnPost {
  width: 64px;
  padding: 0px 0px 0px 8px;
  height: 28px;
  line-height: 24px;
  letter-spacing: 8px;
  font-size: 16px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  text-align: center;
  border: none;
  background: none;
  background-color: rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.bg input#btnPost:active, .bg input#btnPost:visited, .bg input#btnPost:enabled {
  outline: none;
}

.bg input#btnPost.buttonEntered {
  background-color: hsla(245, 28%, 41%, 1);
}

.bg input#btnPost.buttonEntered.buttonPressed {
  color: #fff;
  background-color: hsla(245, 28%, 28%, 1);
}

/* Added */

dl#dl_title {
  font-family: 'Questrial';
  color: hsla(245, 28%, 41%, .8);
  font-size: 48px;
  line-height: 48px;
  height: 48px;
  letter-spacing: 30px;
  margin: 0px 0px 12px 18px;
}

div#imginfo {
  position: absolute;
  width: auto;
  right: 4px;
  top: 8%;
  height: 84%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.25);
}

div#imginfo label {
  position: relative;
  line-height: 18px;
  color: #efefef;
  font-size: 12px;
  margin: 0px 8px;
  text-align: center;
}

div#imginfo:hover {
  background: rgba(0, 0, 0, 0.45);
}

/*
media query
*/

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .bg #wrapper {
    flex-direction: column;
    justify-content: space-between;
  }
  .bg .login {
    flex: initial;
    height: auto;
    width: 100%;
  }
  .bg .login form {
    transform: none;
    padding: 32px 16px;
    background: rgba(255, 255, 255, .75);
  }
  .bg .login dd.submit {
    margin: 24px 0px 0px 0px;
  }
  .bg input#btnPost {
    width: 100%;
  }
  dl#dl_title {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .bg #wrapper {
    float: right;
    width: 240px;
  }
  .bg .login {
    flex: 1;
    height: auto;
    width: 100%;
  }
  .bg .login form {
    transform: none;
    padding: 32px 16px;
    background: rgba(255, 255, 255, .75);
  }
  .bg .login dd.submit {
    margin: 12px 0px 0px 0px;
  }
  .bg input#btnPost {
    width: 100%;
  }
  dl#dl_title {
    display: none;
  }
}