@charset "utf-8";
/*
作者：新鲜人
地址：http://www.htmlit.com.cn
邮箱：u2lei@yahoo.com.cn
     xinxr@msn.com
*/

a {
  transition: all 0.35s ease 0s;
}

body {
  background: #EAEDF1;
}

/*后台顶部*/

.header {
  height: 50px;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

/**/

.logo {
  width: 180px;
  height: 50px;
  padding: 0px;
  background: url(../img/logo.png) no-repeat center 10px;
  background-size: auto 35px;
}

.logo {
  display: none;
}

/**/

.menu {
  left: 180px;
  right: auto;
  bottom: 0;
  height: 50px;
  line-height: 50px;
}

.menu ul li {
  height: 50px;
  line-height: 50px;
  margin: 0;
  border-left: 1px solid #f1f1f1;
}

.menu ul li a {
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
}

.menu ul li a:hover {
  color: #222;
  background-color: #f1f1f1;
}

.menu ul li.on a {
  color: #fff;
}

.user {
  top: 0;
  right: 0;
  width: 240px;
  padding: 0 15px;
  border-left: 1px solid #ddd;
  height: 50px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.user, .userbtn a {
  color: #7e7e7e;
}

.user #avatar {
  border-radius: 20px;
  margin-top: 5px;
  -webkit-transition: .4s;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  -moz-transition: -moz-transform .4s ease-out;
}

.user:hover #avatar {
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg)
}

.userbtn a.logout, .userbtn a.profile {
  padding-left: 0;
  background-image: none;
}

.username, .userbtn {
  line-height: 25px;
  height: 25px;
}

/*左边导航*/

.left {
  width: 180px;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 999;
  height: 100%;
}

.left #leftmenu li {
  width: 100%;
  margin-bottom: 0;
  line-height: 42px;
  height: 42px;
}

.left #leftmenu a {
  width: 100%;
  color: #eee;
  display: block;
  padding: 5px 0;
  height: 42px;
  line-height: 42px;
}

.left #leftmenu a:hover {
  color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.left #leftmenu span {
  margin-left: 20px;
  padding-left: 25px;
}

/*导航高亮*/

.left #leftmenu .on a, .left #leftmenu #on a:hover {
  color: #fff;
}

/*主要内容区*/

.main {
  padding: 15px 15px 15px 195px;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main::after, .login dl::after {
  display: table;
  content: " ";
  clear: both;
}

/*后台首页*/

#divMain {
  float: left;
  width: 100%;
  padding: 2%;
  margin: 0px;
  border-radius: 5px;
  background-color: #fff;
}

#leftmenu li.split {
  display: none;
}

input.button, input[type="submit"], input[type="button"] {
  height: auto;
  padding: 0.3em;
  margin: 0;
  border-radius: 2px;
}

input, textarea, select {
  padding: 0.3em;
  border-radius: 2px;
}

.pagebar a, .pagebar .now-page {
  padding: 4px 12px;
  color: #333;
  display: inline-block;
  clear: both;
  border: 1px solid #dddddd;
  margin: 0 3px 3px 0;
  border-radius: 2px;
  background-color: #fff;
}

.pagebar a:hover, .pagebar .now-page {
  color: #fff;
}

/*后台登陆页面*/

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background: url(../img/login-bg.jpg) no-repeat center center;
}

.bg #wrapper {
  width: 500px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 40px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -180px;
  margin-left: -250px;
}

.bg .logo {
  margin: 0;
  width: 100%;
  height: 100px;
  background: url(../img/logo.png) no-repeat center 0;
  background-size: auto 60px;
}

.loginw {
  margin-bottom: 0;
}

.bg .login {
  width: 100%;
}

.bg dd.username, .bg dd.password, dd.submit {
  width: 100%;
  margin-bottom: 20px;
}

.bg .username, .bg .userbtn {
  line-height: 35px;
  height: 35px;
}

.bg dd.username label, .bg dd.password label {
  width: 20%;
  padding: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 3px 0 0 3px;
  text-align: center;
}

.bg input#edtUserName, .bg input#edtPassWord {
  width: 80%;
  padding: 0 1%;
  border-radius: 0 3px 3px 0;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: "Microsoft YaHei", Verdana, sans-serif;
  color: #7e7e7e;
}

.login dl {
  height: auto;
}

.bg input[type='text'], .bg input[type='password'] {
  border: 0;
}

dd.checkbox {
  display: none;
}

.bg input#btnPost {
  width: 100%;
  line-height: 30px;
  border-radius: 3px;
}

.bg .divHeader {
  padding: 0;
  line-height: 50px;
  height: 50px;
  font-weight: 700;
  color: #fff;
}

.bg .login {
  height: auto;
}

.loginw .content>div>p {
  color: #000;
}

.loginw>form>p>a {
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
}

body.short {
  background: url(../img/Elect.jpg) no-repeat center center transparent;
  background-attachment: fixed;
  background-size: cover;
}

body.short .bg {
  color: #7e7e7e;
  height: 100%;
  background: url() no-repeat center center transparent;
}

body.short .bg #wrapper {
  height: auto;
  width: 800px;
  margin-left: -400px;
  top: 50px;
  margin-top: 0;
  overflow: hidden;
  margin-bottom: 50px;
}